default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  host: localhost

development:
  <<: *default
  database: users_programs_development

test:
  <<: *default
  database: users_programs_test

production:
  <<: *default
  database: users_programs_production
  username: users_programs
  password: <%= ENV['USERS_PROGRAMS_DATABASE_PASSWORD'] %>
